@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,700');

* {
  color: #888;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;
}

body {
  background-color: #eee;
  margin: 0 auto;
}

button , #process-cash, #process-credit, #purchase {
  background-color: #6CBC61;
  border: 2px solid #6CBC61;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: .5em 1.5em .5em 1.5em;
}

div.item {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 3em;
  font-weight: 700;
}

img {
  height: 60px;
  width: 60px;
}

input {
  font-size: .5em;
  margin-left: 2em;
  width: 12em;
}

label {
  font-size: .7em;
}

nav {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 15px #666;
  display: flex;
  height: 100px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

p {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;
}

.item.addedToCart {
  background-color: #fff;
  border: 2px solid #6CBC61;
  border-radius: 4px;
}

.amount {
  padding: 1em 5em 1em 2em;
}

.border {
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  border-width: 1px;
  font-size: 1.3em;
  margin: .5em 2em 1em;
}

.cash {
  font-size: 1.5em;
}

.categoryHead {
  align-items: center;
  background-color: #5790DC;
  color: white;
  display: flex;
  font-size: 1.3em;
  height: 20px;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.credit {
  font-size: 1.5em;
  margin-bottom: 0;
}

.description {
  font-style: italic;
  font-size: .75em;
}

.flexPayment {
  display: flex;
  justify-content: center;
}

.flexTotals {
  align-items: center;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 6em;
}

.grandTxt{
  font-weight: bold;
  padding: 1em 3em 1em 1em;
}

.inputDetails {
  display: flex;
  flex-direction: column;
}

.item {
  color: #6CBC61;
}

.item, .sectionHeader {
  border-bottom-color: #eee;
  border-bottom-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  font-size: 1.3em;
  margin: .5em 2em;
  padding: 1em;
  text-align: left;
}

.item:hover {
  background-color: #eee;
  cursor: pointer;
}

.mainContain, .navContain {
  display: flex;
  justify-content: center;
}

.price {
  font-weight: bold;
}

.spacer {
  height: 100px;
}

.submit {
  background-color: #6CBC61;
  color: #fff;
  font-size: 2em;
  height: 80px;
  width: 200px;
}

.subTxt, .taxTxt {
  padding: 1em 3em 1em 1em;
}

.wrapper {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 468px;
  margin-bottom: 4em;
}

#cart {
  background-color: white;
  display: flex;
  padding: .5em;
}

#cart-icon {
  margin-right: 2em;
}

#cashTender, #change {
  margin-bottom: 2em;
}

#cash, #credit {
  background-color: white;
  color: #6CBC61;
  font-size: 1.5em;
}

#emailBtn {
  background-color: white;
  border: 2px solid #6CBC61;
  border-radius: 5px;
  color: #6CBC61;
  font-size: 24px;
  padding: .5em 1.5em .5em 1.5em;
  margin: 0 auto;
  margin-bottom: 2em;
}

#grandAmount {
  font-weight: bold;
}

#logo {
  margin: 0 auto;
  padding-left: 4em;
}

#menu{
  display: none;
  width: 468px;
  margin-top: 64px;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media only screen and (min-width: 480px) {
  
  div.item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  input {
    font-size: 1em;
    margin: .2em;
    padding: 1em;
  }

  .wrapper {
    display: flex;
    width: 70%;
  }
}

/* Must be at end */
.cash, .cart, .credit, .payment, .process, .reciept {
  display: none;
}
